input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container button {
    background-color: palevioletred;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container button a {
    background-color: palevioletred;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border: 3px solid #f1f1f1;
}

.header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border: 3px solid #f1f1f1;
    background-color: #333;
    overflow: hidden;
}

.header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header button {
    float: right;
    display: block;
    background-color: palevioletred;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
}
